<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EjerciciosServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller01</display-name>
    <servlet-name>Controller01</servlet-name>
    <servlet-class>servlets.Controller01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller01</servlet-name>
    <url-pattern>/Controller01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller2</display-name>
    <servlet-name>Controller2</servlet-name>
    <servlet-class>servlets.Controller2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller2</servlet-name>
    <url-pattern>/Controller2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller3</display-name>
    <servlet-name>Controller3</servlet-name>
    <servlet-class>servlets.Controller3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller3</servlet-name>
    <url-pattern>/Controller3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller02</display-name>
    <servlet-name>Controller02</servlet-name>
    <servlet-class>servlets.Controller02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller02</servlet-name>
    <url-pattern>/Controller02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller03</display-name>
    <servlet-name>Controller03</servlet-name>
    <servlet-class>servlets.Controller03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller03</servlet-name>
    <url-pattern>/Controller03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller04</display-name>
    <servlet-name>Controller04</servlet-name>
    <servlet-class>servlets.Controller04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller04</servlet-name>
    <url-pattern>/Controller04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller04</display-name>
    <servlet-name>controller04</servlet-name>
    <servlet-class>servlets.Controller04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller04</servlet-name>
    <url-pattern>/controller04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller041</display-name>
    <servlet-name>Controller041</servlet-name>
    <servlet-class>servlets.Controller041</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller041</servlet-name>
    <url-pattern>/Controller041</url-pattern>
    <url-pattern>/controller041</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller05</display-name>
    <servlet-name>Controller05</servlet-name>
    <servlet-class>servlets.Controller05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller05</servlet-name>
    <url-pattern>/Controller05</url-pattern>
    <url-pattern>/controller05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller06</display-name>
    <servlet-name>Controller06</servlet-name>
    <servlet-class>servlets.Controller06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller06</servlet-name>
    <url-pattern>/Controller06</url-pattern>
    <url-pattern>/controller06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller07</display-name>
    <servlet-name>Controller07</servlet-name>
    <servlet-class>servlets.Controller07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller07</servlet-name>
    <url-pattern>/Controller07</url-pattern>
    <url-pattern>/controller07</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller08</display-name>
    <servlet-name>Controller08</servlet-name>
    <servlet-class>servlets.Controller08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller08</servlet-name>
    <url-pattern>/Controller08</url-pattern>
    <url-pattern>/controller08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller09</display-name>
    <servlet-name>Controller09</servlet-name>
    <servlet-class>servlets.Controller09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller09</servlet-name>
    <url-pattern>/Controller09</url-pattern>
    <url-pattern>/controller09</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller11_1</display-name>
    <servlet-name>Controller11_1</servlet-name>
    <servlet-class>servlets.Controller11_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller11_1</servlet-name>
    <url-pattern>/Controller11_1</url-pattern>
    <url-pattern>/controller11_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller11_2</display-name>
    <servlet-name>Controller11_2</servlet-name>
    <servlet-class>servlets.Controller11_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller11_2</servlet-name>
    <url-pattern>/Controller11_2</url-pattern>
    <url-pattern>/controller11_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller12</display-name>
    <servlet-name>Controller12</servlet-name>
    <servlet-class>servlets.Controller12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller12</servlet-name>
    <url-pattern>/Controller12</url-pattern>
    <url-pattern>/controller12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller10_1</display-name>
    <servlet-name>Controller10_1</servlet-name>
    <servlet-class>servlets.Controller10_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller10_1</servlet-name>
    <url-pattern>/Controller10_1</url-pattern>
    <url-pattern>/controller10_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller10_2</display-name>
    <servlet-name>Controller10_2</servlet-name>
    <servlet-class>servlets.Controller10_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller10_2</servlet-name>
    <url-pattern>/Controller10_2</url-pattern>
    <url-pattern>/controller10_2</url-pattern>
  </servlet-mapping>
</web-app>